* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* THE NAVBAR*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #f8f9fa;
  padding: 40px;
  border-bottom: 0.5px solid #ced4da;
  cursor: pointer;
}
.logo h4 {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  color: #cc5803;
  letter-spacing: 2px;
  font-size: 50px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  font-family: "Roboto", sans-serif;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease;
}
/*Nav Tab View*/

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
/*Nav Mobile View*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translate(100%);
    transition: 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translate(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/*THE HEADER*/
.the-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.the-header-h2 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}
.header-span {
  font-family: "Pacifico", cursive;
  font-weight: 90;
  font-size: 35px;
  color: #cc5803;
}
.break-for-mobile {
  display: none;
}
/* MOBILE FOR HEADER*/
@media screen and (max-width: 768px) {
  .the-header {
    text-align: center;
  }
  .break-for-mobile {
    display: block;
  }
}
